#land
    vector-effect: non-scaling-stroke
    shape-rendering: crispEdges
    
.land-glow-outer
    fill: none
    stroke: #EEE
    stroke-width: 16px
    
.land-glow-inner
    fill: none
    stroke: #DDD
    stroke-width: 8px
    
.land-fill
    fill: none
    stroke: #444
    stroke-width: 2px
    
.cell
    stroke-width: 1px
    vector-effect: non-scaling-stroke
    shape-rendering: crispEdges
    
.region
    fill: none
    vector-effect: non-scaling-stroke
    shape-rendering: crispEdges
    
@font-face
    font-family: "Lacuna"
    src: url("lacuna.ttf")
    
.label, .leaf_label
    fill: #333
    text-anchor: middle
    pointer-events: none
    font-family: "Lacuna"
    
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    
.graph_link
    stroke-width: 1
    fill: none
    pointer-events: none
    
.panel
    fill: white
    
.proj_node
    shape-rendering: crispEdges